hr{
    width: 100%;
    height: 2px;
    background-color: black;
    border-color: black;
}

#piechart {
    height: 45%;
    width: 70%;
}

#outer_container{
    margin: auto;
}

#outer_container div b{
    font-size: 28;
}

#left{
    float: left;
    width: 50%;
}

#right{
    float: right;
    width: 50%;
}

#logo{
    height: 20%;
    width: 20%;
    text-align: left;
    display: inline;
}

#logoff{
    height: 5%;
    width: 9%;
    font: 24pt;
}

h1{
    text-align: right;
    display: inline;
    padding-left: 55%
}